
<%- include('./partials/nav.ejs') %> 


<span>
<form action="/" method="POST" class="decor">
      <!--  -->
      <div class="form-inner">
        <h1 style="text-align: center;">Add</h1>
        <!-- <input type="text" placeholder="Username"> -->
        <input type="email" placeholder="Email" name="email">
        <textarea placeholder="Message..." name="dlog" rows="5" ></textarea>
        <button type="submit" href="#">Submit</button>
      </div>
    </form>
</span>
<%- include('./partials/end.ejs') %> 
