
<%- include('./partials/nav.ejs') %> 

<div class="bodymain">
    <div class="cardv">
        <img src="https://images.unsplash.com/photo-1612428978260-2b9c7df20150?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="Image">
        <div class="details">
            <h2>Email@email.com</h2>
            <p><h4>10 oct 3030</h4></p>
        </div>
        <p id="info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus nihil, eveniet nesciunt eos debitis perspiciatis, hic quo labore facilis sequi, velit veniam optio exercitationem accusamus ipsa ducimus. Cupiditate, voluptatum cum!</p>
    </div>
</div>

<%- include('./partials/end.ejs') %> 
